<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

    <ion-title>Mes demandes par lots</ion-title>
    
   
  </ion-toolbar>
</ion-header>



<ion-content>

  <ion-item  lines="full"  color='light' *ngIf="!isempty"  >     
    <h6 >chargement...  </h6>       
  </ion-item>

  
  <ion-list  *ngFor="let elemnt of transfert "    >
    <ion-card     >
      <ion-item  lines="full"  >
        <ion-button fill="outline" [routerLink]="['/mondemandelotuniq/' + elemnt.idLots    ]">Id Lot Transfer : {{elemnt.idLots}}</ion-button>  
      </ion-item>
    
      <ion-item  lines="none" color='light'  >
        <h3 >Status  </h3>       
      </ion-item>

      <ion-item    [routerLink]="['/mondemandelotuniq/' + elemnt.idLots     ]" >
        <ion-button  color="primary" >Encours : {{elemnt.status.encours}}</ion-button >       
        <ion-button color="success" >Validé : {{elemnt.status.valide}}</ion-button >       
        <ion-button color="danger" >Annulé : {{elemnt.status.annule}}</ion-button >       
      </ion-item>

      <ion-item    [routerLink]="['/mondemandelotuniq/' + elemnt.idLots     ]" >
        <ion-label >Depuis : {{elemnt.chantierDepuis}}</ion-label>       
      </ion-item>
 

      <ion-item    [routerLink]="['/mondemandelotuniq/' +   elemnt.idLots ]" >
        <ion-label >Vers : {{elemnt.chantierver}}</ion-label>       
      </ion-item>


      <ion-item   [routerLink]="['/mondemandelotuniq/' +   elemnt.idLots  ]">
        <ion-label style="font-size: 12px">Date de transfert : {{elemnt.date}}</ion-label>     
      </ion-item> 

      <ion-item   [routerLink]="['/mondemandelotuniq/' +   elemnt.idLots ]" >
        <ion-label style="font-size: 12px">Nbr Materiel : {{elemnt.nbrMat}}</ion-label>    
      </ion-item> 
    
      
    </ion-card>
  </ion-list> 
</ion-content>
