<ion-header>
  <ion-toolbar>
    <ion-img src="assets/img/logo.png"></ion-img> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item-divider>
    <ion-label > Gestion de materiel - Auth     </ion-label>
  </ion-item-divider>
 
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

    <ion-item lines="full">
      <ion-label position="floating">UserName</ion-label>
      <ion-input formControlName="name" type="text"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
      Name should be min 6 chars long.
    </span>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input formControlName="password" type="password"></ion-input>
    </ion-item>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.required">
      Name is required.
    </span>
    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.name.errors?.minlength">
      Name should be min 6 chars long.
    </span>
 

    <ion-row >
      <ion-col>
        <ion-button type="submit" class="marginbuttom"  color="danger" expand="block">Submit</ion-button>
        <span class="error ion-padding">
         {{ErrorText}}
        </span>
       
      </ion-col>
    </ion-row>
  </form>

  
</ion-content>
