<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    Demande materiel  
  </ion-toolbar>
</ion-header>

<ion-content>
 
 
  <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>

   
    <ion-item lines="full">
      <ion-label position="floating">Matériel Demandé</ion-label>
      <ion-select formControlName="materiel" placeholder="materiel">
        <ion-select-option *ngFor="let mat of data" value="{{mat.desingation}}" >{{ mat.desingation }}</ion-select-option>
       
      </ion-select>
       

    </ion-item>

    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.materiel.errors?.required">
      Champs Materiel est important
    </span>


    <ion-item lines="full">
      <ion-label position="floating">Chantier</ion-label>
      <ion-select formControlName="chantier" placeholder="Chanier">
        <ion-select-option *ngFor="let chant of chantiers" value="{{chant.desingation}}" >{{ chant.desingation }}</ion-select-option>
      </ion-select>
    </ion-item>

    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.chantier.errors?.required">
      Champs chaniter est  important
    </span>
  

    <ion-item lines="full">
      <ion-label position="floating">Quantité</ion-label>
       
        <ion-input type="text"  formControlName="qte" ></ion-input>
       
    </ion-item>

    <span class="error ion-padding" *ngIf="isSubmitted && errorControl.qte.errors?.required">
      Champs chaniter est  important
    </span>
    


   


    
 

    <ion-row >
      <ion-col>
        <ion-button type="submit" class="marginbuttom"  color="danger" expand="block">Submit</ion-button>
      </ion-col>
    </ion-row>

 



    
  </form>

</ion-content>
