<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

    <ion-title>chantier {{chantier}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-list  *ngFor="let materiel of List_materiels "    >
    <ion-card   *ngIf="materiel.Idmat"  >
      <ion-item    >
        <ion-button  color="danger" slot="end" [routerLink]="['/transfert-materiel/' + materiel.Idmat  + '/' +  chantier ]" >transferer</ion-button>
        <ion-button fill="outline" [routerLink]="['/chantier-single/' + materiel.Idmat ]">{{materiel.Reference}}</ion-button>  
      </ion-item>
    
      <ion-item    [routerLink]="['/chantier-single/' + materiel.Idmat ]" >
        <ion-label >{{materiel.Designation}}</ion-label>       
      </ion-item>

      <ion-item   [routerLink]="['/chantier-single/' + materiel.Idmat ]">
        <ion-label style="font-size: 12px">Date d'affectation : {{materiel.dateAffectation}}</ion-label>     
      </ion-item> 

      <ion-item   [routerLink]="['/chantier-single/' + materiel.Idmat ]" >
        <ion-label style="font-size: 12px">Qunatité : {{materiel.getQte}}</ion-label>    
      </ion-item> 
    
      
    </ion-card>
  </ion-list>
 
</ion-content>
