<ion-header>
  <ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button></ion-back-button>
  </ion-buttons>
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>

    <ion-title>{{dataTransfert.Reference}}</ion-title>
    
   
  </ion-toolbar>
 
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>

              <ion-list>
                <ion-item *ngIf="images.length == 0" >
                  <p  text-center>Pas d'image !</p>
                </ion-item>
          
          
                <ion-item *ngFor="let img of images; index as pos" text-wrap>
                  <ion-thumbnail slot="start">
                    <ion-img [src]="img.path"></ion-img>
                  </ion-thumbnail>
                  <ion-label>
                    {{ img.name }}
                  </ion-label>
                  
                  <ion-button slot="end" fill="clear" (click)="deleteImage(img, pos)">
                    <ion-icon slot="icon-only" name="trash"></ion-icon>
                  </ion-button>
                </ion-item>
                <ion-item >
                <ion-button color="dark" (click)="selectImage()">
                  <ion-icon slot="start" name="camera"></ion-icon>
                  Ajouter des Images</ion-button>
                </ion-item>
              </ion-list>
              <ion-row >
                <ion-col>
                  <ion-button   class="marginbuttom"  color="danger" (click)="sendPostMataffectedData(dataTransfert.Idmat,dataTransfert.Chantier,dataTransfert.ChantierVers,dataTransfert.Reference,dataTransfert.Qte)" expand="block">Soumettre & valider</ion-button>
                </ion-col>
              </ion-row>
              <ion-row *ngIf="loge != '0'" >
                Statut :  {{loge}}
              </ion-row >
       
      </ion-card-subtitle>
      <ion-card-subtitle>
        <ion-badge >{{dataTransfert.Reference}}</ion-badge>
        
      </ion-card-subtitle>
      <ion-card-title>{{dataTransfert.Designation}}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item   >
        <ion-label style="font-size: 12px">Date de Transfert : {{dataTransfert.DateTransferts}}</ion-label>     
      </ion-item> 

      <ion-item    >
        <ion-label style="font-size: 12px">Qunatité : {{dataTransfert.Qte}}</ion-label>    
      </ion-item> 
    </ion-card-content>
    <ion-item>
   
     
      <ion-button  color="dark"  >Vers : {{dataTransfert.ChantierVersDesingation}}</ion-button>
    </ion-item>
    
  </ion-card>
<ion-content>

</ion-content>